<!DOCTYPE html PUBLIC "-//w3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<script type="text/Javascript" SRC="Javascript/inscription.js" />
		<script type="text/Javascript" SRC="Javascript/onsubmit_event.js"></script>
		<link rel="stylesheet" type="text/css" href="http://localhost:8080/JWFISI/css/style.css"/>
		<title>Ovedia Vente de Musique pour vous!</title>
	</head>
	
	<body>
	
    #if($connecter)
	<ul id="Cmenu">
		<li><a href="Logout"><span>deconnexion</span></a></li>
		<li><p><marquee> vous etes connecté </marquee></p></li>
	
		#if ($identifiant)
		
			echo "Bonjour "$identifiant
			
		#end
		
	</ul>
	#end
	#if($connecteradm)
		
		<a href="backOffice">Partie administration</a>
	#end
		
		
                      

	#if(!$connecter)
	<div class="inspos">
         	<form action="connection" onsubmit= "return validerConnexion()"   method='POST' name="conection-user">
		
				<label for="pseudo">pseudo</label>
				<input type="password" name="conPseudo" id="conPseudo" />
				<label for="Motdepasse">Mot de passe</label>
				<input type="password" name="conMdp" id="conMdp"/>
				<input type="submit" name="valider" value="valider"/>
			</form>	
	
	
	
		</div>
	#end	
			<ul id="Cmenu">
				#if(!$connecter)
						<li><a href=inscription>INSCRIPTION</a></li>
				#end
				
				<li><a href="accueil">ACCUEIL</a></li>
				<li><a href="clips"><span>CLIPS</span></a></li>
			

				<li><a href=albums>Albums disponible</a></li>
	
			</ul>
		

	
