

<!DOCTYPE html PUBLIC "-//w3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitionnel.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<link rel="stylesheet" type="text/css" href="CSS2.css" />
		<title>Affilinex</title>
    </head>
	
					<div class="posid">
						<table>
							
							<form action='connexionBD.php' method='POST'>
								<a align="center">
									<tr>
										<td>
											<label for="pseudo">Pseudo</label>
											<input type="texte" name="pseudo" />							
										</td>
									
										<td>
											<label for="Motdepasse">Mot de passe</label>
											<input type="pasword" name="motdepasse" />
										</td>
									
										<td>
											<input type="submit" value="Connexion" name="valider"/>
										</td>
									</tr>
									<tr>
										<td>
											<a href="Mdpoublie.php">Mot de passe oublié</a></br></br>
										</td>
									</tr>
						</table>
					</div>

	<div id="corps">
		
		
		
		<div class="menuD" >
			<ul>
				<div class="onglet">
					<div class="titre">
						<li><a href="Acceuil.php"> Acceuil </a></li>
					</div>
				</div>
				<div class="onglet">
					<div class="titre">
						<li><a href="annoceurs.php"> Annonceurs</a></li>
					</div>	
						<!--cacher aparait lors du passage de la souris non utiliser changer css -->
						<div class="contenu">
						   <!--<li><h2><a href="#">Annonceurs</a></h2></li>-->
										
						</div>
				</div>
				
				<div class="onglet">
					<div class="titre">
						<li><a href="affilies.php"> Affiliés</a></li>
					</div>	
						<!--contenu dans le menu deroulant si utilisé-->
						<div class="contenu">
						  
						   </table>
						</div>
				</div>
				<div class="onglet">
					<div class="titre">
						<li><a href="Agences.php"> Agences</a></li>
					</div>	
						
						<div class="contenu">
						   
						</div>
				</div>
				
				<div class="onglet">
					<div class="titre">
						<li><a href="annoceurs.php"> Programmes</a></li>
					</div>	
						
						<div class="contenu">
						   
						</div>
				</div>
				<div class="onglet">
					<div class="titre">
						<li><a href="technologie.php"> Technologies</a></li>
					</div>	
						
						<div class="contenu">
						   
						</div>
				</div>
				
				<div class="onglet">
					<div class="titre">
						<li><a href="Recrutement.php"> Recrutement</a></li>
					</div>	
						
						<div class="contenu">
						   
						</div>
				</div>
				<div class="onglet">
					<div class="titre">
						<li><a href="annoceurs.php"> Contact</a></li>
					</div>	
						
						<div class="contenu">
						   
						   </table>
						</div>
				</div>
				
			
			</ul>
		</div>
		<div id="bleu">
			<div id="banniere">
				<img src="bnr_services_2nd-level.jpg"  alt="Choose Country" title="Choose Country" width="600"  height="100" align="absMiddle"  />
			</div>
		</div>
		<div class="menu2">
			<ul>
				<li><a href="applicationmob.php">Applications mobile</a></li>
				<li><a href="display.php">Display</a></li>
				<li><a href="co-registration.php">Co-registration</a></li>
				<li><a href="E-mailing.php">E-mailing</a></li>
			</ul>
		</div>

		<!--<div class="imagehaut">
			<img src="images.jpg" width="400"  height="150"/>
		</div>-->
		<div id="corps3">
				<table border="0" cellspacing="3" cellpadding="6" style="border-top-style:solid;">
					<div id="texte">
							<strong><font size="5pt">À propos </font><br/><br/>
Créée en 2010, Affilinex est une agence e-marketing spécialisée dans la mise en place d'opérations de recrutement de profils sur internet.</strong><br/>

Nous conseillons, créons, réalisons et diffusons sur notre réseau les campagnes e-marketing de nos clients.<br/>
Nous sommes en charge de leur gestion et de leur suivi de manière précise et mesurée.<br/><br/>

<strong>Affilinex c'est :<br/><br/>

    -400 sites partenaires<br/>
    -40 millions d'emails Opt In FR<br/>
    -Un réseau de qualité</strong> France et Europe : Espagne, Royaume-Uni, Italie, Suisse, Allemagne, Belgique<br/>
   <strong>- De nombreuses références : </strong>Les Echos, Nestlé, Barclays, Securitas Direct, Bose, Orange, Nespresso, Banque Populaire, Sephora...<br/>


					
					</div>
				</table>

		</div>

		